/* CSS DISINI */

/* #647FBC #91ADC8 #AED6CF #FAFDD6 tidak dipakai*/
/* #476EAE #48B3AF #A7E399 #F6FF99 yang dipakai */

:root {
    --primary: #D2C1B6;
    --secondary: #456882;
    --tertiary: #234C6A;
    --bg: #1B3C53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* height: 4000px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(0, 15, 50, 0.9);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    /* color: var(--secondary); */
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary)
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
    /* display: inline-block; */
    /* font-size: 1.2rem; */
    /* margin-left: 1.5rem; */
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

.search-form {
  display: none;
}

.hero {
    display: flex;
    min-height: 100vh;
    /* height: 300px; */
    align-items: center;
    background-image: url('../images/pantai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.hero .mask-container {
    position: absolute;
}

/* section about */
.about, 
.promo {
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.promo h2 {
    text-align: center;
    font: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.promo h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .content {
    padding-left: 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/* section promo */
.promo .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.promo h2 {
    margin-bottom: 1rem;
}

.promo p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.promo .row .promo-card {
    text-align: center;
    padding-bottom: 4rem;
}

.promo .row .promo-card img {
    border-radius: 50%;
    width: 80%;
}

.promo .row .promo-card .promo-card-title {
    margin: 1rem auto 0.5rem;
}


/* Media Queries */
/* Laptop */
/*
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
*/

/* 
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/